.abtus {
    background-image: linear-gradient(rgba(0, 14, 9, 0.7), rgb(0, 14, 9)), url(theb.png);
    background-size: cover;
}

@media(max-width:700px) {
    .abtus {
        background-image: linear-gradient(rgba(0, 14, 9, 0.7), rgb(0, 14, 9)), url(theb2.png);
        background-size: cover;
    }
    
}

body {
    background-color: rgb(0, 14, 9);
}

.abtus {}

.border {
    display: none;
    height: 1rem;
    background-color: yellow;
}

.abtus h1 {
    margin-top: 5rem;
    line-height: 0.9;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.filler {
    height: 100vh;
}